dependencies/*
!.gitkeep
!dependencies/imageset-config.yaml
!dependencies/archive/.gitkeep
!dependencies/python/.gitkeep
!requirements.yml
*.set
.oc-mirror.log
dev-requirements.yml
vault-password
creds
